.portfolio__project {
    display: flex;
    flex-direction: row;
}

.portfolio__project-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left:2rem;
    margin-right: 2rem;
}

.portfolio__project-image img {
    width: 100%;
    height: 100%;
    display:flex;
}
.portfolio__project-content {
    flex: 1;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    align-self:flex-start;
    flex-direction: column;
}

.portfolio__project-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    margin-bottom:20px;
    color:  #ff8A71;
}



.portfolio__project-content p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    margin-bottom: 2rem;
}

.portfolio__project-content ul {
    list-style-type: disc; /* Ensure list items have bullet points */
    margin-left: 20px; /* Add some left margin */
    padding-left: 20px; /* Add some padding for better spacing */
}

.portfolio__project-content li {
    color: var(--color-text); /* Ensure text color is consistent */
    font-family: var(--font-family); /* Use the same font family */
    font-weight: 400; /* Use the same font weight */
    font-size: 16px; /* Adjust font size if necessary */
    line-height: 30px; /* Ensure consistent line height */
    margin-bottom: 10px; /* Add some space between list items */
}


@media screen and (max-width: 950px) {
    .portfolio__project {
        flex-direction: column;
    }

    .portfolio__project-image {
        margin: 1rem 0;
    }

    .portfolio__project-image img {
        width: unset;
        height: unset;
        
    }

    .portfolio__project-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .portfolio__project-image img {
        width: 100%;
        height: 100%;
    }
}

